<h1>Settings</h1>
<hr>
<ul>
  <li><a href="<%= admin_users_path %>">Users</a></li>
  <li><a href="<%= admin_regions_path %>">Regions</a></li>
  <li><a href="<%= admin_diagnoses_path %>">Diagnosis</a></li>
  <li><a href="<%= admin_tests_path %>">Test</a></li>
  <li><a href="<%= admin_test_conclusions_path %>">Test conclusion</a></li>
  <li><a href="<%= admin_test_confidences_path %>">Test confidence</a></li>
</ul>
