<p id="notice"><%= notice %></p>

<h1>Test Conclusions</h1>

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Diagnosis</th>
      <th>Conclusion rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_conclusions.each do |test_conclusion| %>
      <tr>
        <td><%= test_conclusion.test %></td>
        <td><%= test_conclusion.diagnosis %></td>
        <td><%= test_conclusion.conclusion_rating %></td>
        <td><%= link_to 'Show', test_conclusion %></td>
        <td><%= link_to 'Edit', edit_test_conclusion_path(test_conclusion) %></td>
        <td><%= link_to 'Destroy', test_conclusion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Conclusion', new_test_conclusion_path %>
