
<div class="row">
  <div class="col-md-6">
    <h1>Test Conclusion</h1>
  </div>
  <div class="col-md-6 text-right">
    <a class="btn btn-outline-primary" href="<%= new_admin_test_conclusion_path %>">New Test Conclusion</a>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Test</th>
      <th>Diagnosis</th>
      <th>Conclusion rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_conclusions.each do |test_conclusion| %>
      <tr>
        <td><%= test_conclusion.test %></td>
        <td><%= test_conclusion.diagnosis %></td>
        <td><%= test_conclusion.conclusion_rating %></td>
        <td>
          <a href="<%= edit_admin_test_conclusion_path(test_conclusion) %>" class="btn btn-outline-info">
            Edit
          </a>
          <a href="<%= admin_test_conclusion_path(test_conclusion) %>" data-method="DELETE" class="btn btn-outline-danger"
             data-confirm="Are you sure?">
            Delete
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
